<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="asset/img/logo/fda.webp" class="img-circle elevation-2 bg-white" alt="User Image">
            </div>
            <div class="info">
                <a href="index.html" class="d-block">Faizal Dwi Al Farizi</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search"
                    id="searchSidebar">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"
                id="navbarItem">
                <li class="nav-item">
                    <a href="?doa=makan" class="nav-link" id="doaMakan">
                        <i class="nav-icon fas fa-utensils  "></i>
                        <p>
                            Doa Makan & Minum
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="?doa=kamar-mandi" class="nav-link" id="doaKamarMandi">
                        <i class="nav-icon fas fa-bath"></i>
                        <p>
                            Doa Kamar Mandi
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="?doa=masjid" class="nav-link" id="doaMasjid">
                        <i class="nav-icon fas fa-mosque"></i>
                        <p>
                            Doa Masjid
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>